[flake8]
ignore = C901,D203,E111,E114,E223,E225,E226,E265,E501,E711,E722,F403
exclude = .git,__pycache__,old,doc,dockerfiles,.idea,sh,openski-api,utils,build,dist,ADSBreg.py
max-complexity = 10
[pycodestyle]
mas_line_length = 120
ignore =E501

