*.pyc
*.log
*.lock
*.alive
*.csv
*.xz
*.bkup
ogndecode/
utils/
log/
tmp/
ogn-aprs-protocol/
__pycache__
doc/FLARM*
config/
.idea/
ss*
sh/mailnames.txt
main/
dockerfiles/BaseImage/.vagrant
dockerfiles/.vagrant
dockerfiles/config.docker
BasicAircraftLookup.sqb
flightaware*
keyfile.encrypt
Keysfuncs.py
sh/APRSlogcheck.sh
sh/APRSlog.sh
sh/param
node_modules/
ADSBreg.py
