*.pyc
*.log
*.lock
*.alive
*.csv
*.xz
*.bkup
ogndecode/
utils/
log/
tmp/
ogn-aprs-protocol/
__pycache__
doc/FLARM*
config/
.idea/
ss*
sh/mailnames.txt
kglid.py
main/
dockerfiles/BaseImage/.vagrant
dockerfiles/.vagrant
BasicAircraftLookup.sqb
flightaware*
keyfile.encrypt
Keys.py
