airportsdata==20241001
geopy==2.4.1
GitPython==3.1.44
GitPython==3.1.44
gpiozero==2.0.1
MySQL-python==1.2.5
ogn_client==1.2.1
paho_mqtt==2.1.0
ping3==4.0.8
psutil==5.9.8
pycountry==24.6.1
pycryptodome==3.21.0
Requests==2.32.3
rsa==4.9
setuptools==68.1.2
sphinx_rtd_theme==3.0.2
tqdm==4.67.1
