airportsdata == 20230906
geopy == 2.2.0
ogn_client == 1.2.1
ping3 == 4.0.3
psutil == 5.9.0
pycountry == 22.3.5
requests == 2.25.1
setuptools == 59.6.0
tqdm == 4.66.3
pycrypto == 2.6.1
GitPython == 3.1.43
gpiozero == 2.0.1
paho_mqtt == 2.1.0
sphinx_rtd_theme == 2.0.0
typing == 3.10.0.0
